@import 'styles/mixins';

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.typeahead {
  display: flex;
  height: 36px;
  margin: 12px auto 4px;
  position: relative;
  width: 100%;
  .open {
    z-index: 10;
  }

  &__input {
    border: 1px solid lightgray;
    border-radius: 6px;
    height: 32px;
    font-weight: bold;
    margin-left: 12px;
    padding-left: 12px;
    position: absolute;
    width: 400px;
  }

  &__results {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: minmax(33%, 175px) minmax(33%, 175px) minmax(33%, 175px);
    height: 75vh;
    left: 12px;
    opacity: 0;
    position: absolute;
    transition: opacity 0.4s;
    top: 40px;
    width: 75%;

    &.open {
      opacity: 1;
    }
  }

  &__result {
    @include codenames-card(lightgray);
    animation: 0.3s appear forwards;
    cursor: pointer;
    transition: background-color 0.5s, border 0.5s;

    .outline {
      border: 3px solid white;
    }
    &:hover {
      background-color: blanchedalmond;

      .outline {
        border: 3px solid lightgray;
      }
    }
  }
}
