@mixin codenames-card($background-color) {
  @include codenames-card-style($background-color);

  align-items: flex-end;
  height: calc(100% - 16px);
  margin: 8px 12px;
  position: relative;
  width: calc(100% - 16px);

}

@mixin codenames-card-style($background-color) {
  background-color: $background-color;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  transition: background-color 0.4s ease-in-out;

  &.antagonist {
    background-color: red;
  }

  &.assassin {
    background-color: black;
  }

  .outline {
    border-radius: 12px;
    border: 3px solid lightgray;
    display: block;
    height: calc(100% - 24px);
    position: absolute;
    top: 9px;
    width: calc(100% - 24px);
  }
}

@mixin codenames-text {
  align-items: center;
  background-color: white;
  color: darken(darkgray, 45);
  display: flex;
  font-weight: bold;
  justify-content: center;
  margin: 30px;
  padding: 6px 6px;
  width: 70%;
}
