@import 'styles/mixins';
@import 'styles/variables';

@keyframes resultAppear {
  from   {
    opacity: 0;
    top: 100vh;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes cardAppear {
  from {
    opacity: 0;
    height: 100px;
    width: 100px;
  }
  to {
    opacity: 1;

  }
}

.App {
  color: darken(darkgray, 45);
  font-family: Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;
  overflow: hidden;
  position: absolute;
  .header {
    align-items: center;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
    height: $header-height;
    display: flex;
    padding-left: 12px;
    position: relative;
    width: 100%;
    z-index: 20;
    &__icon {
      height: 32px;
      margin-right: 12px;
    }
  }

  .main {
    display: flex;
    height: calc(100vh - 65px);
    margin: auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100vw;

  }

  .results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    left: 60%;
    margin: auto;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 12px;
    padding-top: 12px;
    width: 40%;
    z-index: 5;


    &__tag {
      animation: 0.3s resultAppear forwards ease-in-out;
      border-radius: 24px;
      color: white;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      font-size: 16px;
      font-weight: bold;
      margin: 0 6px 6px;
      opacity: 0;
      padding: 12px 44px 12px 18px;
      position: relative;
      transition: 0.4s transform ease-in-out;
      top: 100vh;

      &:hover {
        transform: scale(1.2);
        transition: 0.15s transform ease-out;

      }
    }

    &__count {
      background-color: lightgray;
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
      color: black;
      padding: 12px;
      position: absolute;
      right: 0;
      top: 0;
    }

    &__word {

    }
  }
  .search {
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 60%;

    &__card {
      @include codenames-card(blanchedalmond);
      animation: 0.3s cardAppear forwards;
      background-color: blanchedalmond;

      &:hover {
        .icons {
          opacity: 1;
        }
      }

      .icons {
        align-items: center;
        display: flex;
        justify-content: center;
        opacity: 0;
        position: absolute;
        top: calc(50% - 48px);
        transition: opacity 0.2s ease-in-out;
        width: 70%;
        z-index: 100;
        img {
          border-radius: 12px;
          cursor: pointer;
          height: 48px;
          margin: 2%;
          transition: filter 0.2s ease-in-out;
          width: 48px;
          &:hover {
            filter: brightness(80%);
          }
        }
      }
    }

    &__contents {
      display: grid;
      grid-template-columns: 33.33% 33.33% 33.33%;
      grid-template-rows: minmax(120px, 185px) minmax(120px, 185px) minmax(120px, 185px);
      position: relative;
    }

    &__text {
      @include codenames-text;
    }
  }
}
